*{
    margin: 0;
    padding: 0;
}
.navitems{
    list-style: none;
    text-align: center;
}
.navitems a{
    text-decoration: none;
    text-align: center;
    color: aliceblue;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    color: aliceblue;
    padding: 2vh;
    text-align: center;
}
body{
    background-color: rgb(128, 0, 0);

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    margin-top: 40vh;
    color: yellow;
    margin-bottom: 2vh;
}
h4{
    margin-top: 2vh;
    color: aliceblue;
    font-style: italic;
}