*{
    margin: 0;
    padding: 0;
}
.navitems{
    list-style: none;
    text-align: center;
}
.navitems a{
    text-decoration: none;
    text-align: center;
    color: aliceblue;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    color: aliceblue;
    padding: 2vh;
    text-align: center;
}